<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    {# <style>
        .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style> #}

    <div>
        <div id="root"></div>
        {% if result is not null %}
            <h2>Result: {{ result }}</h2>
        {% endif %}

        {{ encore_entry_script_tags('app') }}

        <script>
            // Renderiza el componente React en el div específico
            const container = document.getElementById('root');
            ReactDOM.render(<ConverterForm />, container);
        </script>

        {{ encore_entry_link_tags('app') }}
    </div>
</body>
</html>